@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

$background-gray: #f6f6f6;
$black: #5c5c5c;
$white: #f9f9ff;
$red: #e02f2f;
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: $background-gray;
  font-family: "Oswald";
}

.page-content {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  .sort-title-wrapper {
    .title {
      float: left;
      h1 {
        text-transform: uppercase;
        color: $black;
        font-weight: 400;
        font-size: 24px;
      }
    }
    .sort-wrapper {
      float: right;
      p {
        text-transform: uppercase;
        display: inline-block;
        color: $black;
      }
      button {
        display: inline-block;
        background: transparent;
        border: none;
        text-transform: uppercase;
        color: $black;
        &:after {
          content: ' ';
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 5px;
          border-style: solid;
          border-width: 0 5.5px 11px 5.5px;
          border-color: transparent transparent #5c5c5c transparent;
        }
        &[data-sort=desc] {
          &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 5.5px 0 5.5px;
            border-color: #5c5c5c transparent transparent transparent;
          }
        }
        &:focus {
          outline: none;
        }
      }
    }
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }
  .container {
    .left-col {
      float: left;
      width: 255px;
      h2 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        margin: 0.6em 0;
      }
      #models-checkboxes {
        input[type=checkbox] {
          visibility: hidden;
          display: block;
          height: 0;
          width: 0;
          position: absolute;
          overflow: hidden;
        }
        span {
          height: 13px;
          width: 13px;
          border: 1px solid #333333;
          display: inline-block;
          background-color: $white;
          margin-right: 2px;
        }
        [type=checkbox]:checked + span {
          background-image: url("../img/checkbox-square-checked-512.png");
          background-size: cover;
        }
      }
    }
    .main-col {
      float: left;
      width: calc(100% - 255px);
      margin-top: 10px;
      article {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        background: #fff;
        margin-bottom: 25px;
        .offer-image-wrapper {
          min-width: 270px;
          width: 270px;
          height: 195px;
          line-height: 195px;
          position: relative;
          background: -moz-linear-gradient(top, rgba(131, 131, 131, 0.65) 0%, rgba(131, 131, 131, 0.34) 47%, rgba(2, 2, 2, 0) 99%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(131, 131, 131, 0.65) 0%, rgba(131, 131, 131, 0.34) 47%, rgba(2, 2, 2, 0) 99%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(131, 131, 131, 0.65) 0%, rgba(131, 131, 131, 0.34) 47%, rgba(2, 2, 2, 0) 99%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6838383', endColorstr='#00000000', GradientType=0); /* IE6-9 */
          img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
          }
          .car-model {
            h5 {
              position: absolute;
              top: 22px;
              left: 28px;
              margin: 0;
              color: $white;
              font-weight: 400;
              line-height: normal;
              strong {
                font-weight: bold;
              }
            }
            .new-used {
              line-height: normal;
              position: absolute;
              top: 20px;
              left: 17px;
              margin: 0;
              height: 45px;
              text-align: center;
              padding-top: 23px;
              width: 67px;
              color: $white;
              background: url("../img/new-used.png") no-repeat center center;
              background-size: cover;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }
          }
        }
        .offer-main-info {
          padding: 0 25px;
          h6 {
            font-weight: 400;
            margin: 0;
            padding: 20px 0 20px;
            text-transform: uppercase;
            font-size: 19px;
            color: $black;
            max-height: 84px;
            overflow: hidden;
            strong {
              font-weight: 700;
            }
          }
          .info-table {
            .row {
              .left {
                width: 120px;
                float: left;
              }
              .right {
                float: left;
              }
              p {
                font-family: "Source Sans Pro";
                font-weight: 400;
                color: $black;
                margin: 3px 0 2px;
              }
              &:after {
                content: ' ';
                display: table;
                clear: both;
              }
            }
          }
        }
        .price-wrapper {
          min-width: 215px;
          height: 100%;
          > div {
            height: 45px;
            padding: 0 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            > p {
              float: right;
              text-align: right;
              margin: 0;
              font-size: 21px;
              line-height: 45px;
              font-weight: 700;
              text-transform: uppercase;
              color: #67696c;
              .price-currency {
                font-size: 10px;
                position: relative;
                line-height: normal;
                vertical-align: top;
                top: 15px;
              }
            }
            &:after {
              content: ' ';
              display: table;
              clear: both;
            }
          }
          .base-price {
            background-color: #ededed;
          }
          .discount-price {
            background-color: #ededed
          }
          .hot-price {
            height: 60px;
            background-color: #e2dddd;
            .price-name {
              color: $red;
              line-height: 60px;
            }
            > p {
              color: $red;
              line-height: 60px;
            }
          }
          .ask-wrapper {
            text-transform: uppercase;
            text-align: center;
            background-color: $red;
            line-height: 45px;
            padding: 0;
            a {
              display: block;
              height: 100%;
              width: 100%;
              color: $white;
              text-decoration: none;
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
            }
          }
          .price-name {
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            color: #67696c;
            max-width: 95px;
            float: left;
            line-height: 45px;
          }
        }
        &.status-sold {
          position: relative;
          background: #ebebeb;
          overflow: hidden;
          .price-wrapper {
            .ask-wrapper {
              border-top: 1px solid #d1cdcd;
              background-color: #e2dddd;
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            background-image: -webkit-linear-gradient(-45deg, #cccccc 25%, transparent 25%, transparent 50%, #cccccc 50%, #cccccc 75%, transparent 75%, transparent);
            background-image: -o-linear-gradient(-45deg, #cccccc 25%, transparent 25%, transparent 50%, #cccccc 50%, #cccccc 75%, transparent 75%, transparent);
            background-image: linear-gradient(-45deg, #cccccc 25%, transparent 25%, transparent 50%, #cccccc 50%, #cccccc 75%, transparent 75%, transparent);
            background-size: 64px 64px;
          }
          &:after {
            z-index: 2;
            text-align: center;
            font-size: 120px;
            color: rgba(151, 151, 151, 0.6);
            content: 'SPRZEDANY';
            display: block;
            position: absolute;
            top: 48%;
            left: 0;
            right: -3%;
            width: 100%;
            -webkit-transform: rotate(-10deg) translateY(-50%);
            -moz-transform: rotate(-10deg) translateY(-50%);
            -ms-transform: rotate(-10deg) translateY(-50%);
            -o-transform: rotate(-10deg) translateY(-50%);
            transform: rotate(-10deg) translateY(-50%);
          }
        }
      }
    }
    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }
}

@media screen and (max-width: 1110px) {
  .page-content {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .container {
      .main-col {
        article {
          flex-wrap: wrap;
          .offer-image-wrapper {
            width: 50%;
          }
          .offer-main-info {
            width: 50%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }
          .price-wrapper {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .page-content {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .container {
      .left-col {
        width: 100%;
        #models-checkboxes {
          display: flex;
          justify-content: space-between;
          padding: 15px 0;
        }
      }
      .main-col {
        width: 100%;
        article {
          flex-wrap: wrap;
          .offer-image-wrapper {
            width: 100%;
            text-align: center;
          }
          .offer-main-info {
            width: 100%;
            padding: 0 15px 15px;
            .info-table {
              .row {
                .right {
                  float: right;
                }
              }
            }
          }
          .price-wrapper {
            width: 100%;
          }
          &.status-sold {
            &:after {
              font-size: 19vw;
            }
          }
        }
      }
    }
  }

}
