@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #f6f6f6;
  font-family: "Oswald"; }

.page-content {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto; }
  .page-content .sort-title-wrapper .title {
    float: left; }
    .page-content .sort-title-wrapper .title h1 {
      text-transform: uppercase;
      color: #5c5c5c;
      font-weight: 400;
      font-size: 24px; }
  .page-content .sort-title-wrapper .sort-wrapper {
    float: right; }
    .page-content .sort-title-wrapper .sort-wrapper p {
      text-transform: uppercase;
      display: inline-block;
      color: #5c5c5c; }
    .page-content .sort-title-wrapper .sort-wrapper button {
      display: inline-block;
      background: transparent;
      border: none;
      text-transform: uppercase;
      color: #5c5c5c; }
      .page-content .sort-title-wrapper .sort-wrapper button:after {
        content: ' ';
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-style: solid;
        border-width: 0 5.5px 11px 5.5px;
        border-color: transparent transparent #5c5c5c transparent; }
      .page-content .sort-title-wrapper .sort-wrapper button[data-sort=desc]:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 5.5px 0 5.5px;
        border-color: #5c5c5c transparent transparent transparent; }
      .page-content .sort-title-wrapper .sort-wrapper button:focus {
        outline: none; }
  .page-content .sort-title-wrapper:after {
    content: ' ';
    display: table;
    clear: both; }
  .page-content .container .left-col {
    float: left;
    width: 255px; }
    .page-content .container .left-col h2 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 18px;
      margin: 0.6em 0; }
    .page-content .container .left-col #models-checkboxes input[type=checkbox] {
      visibility: hidden;
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      overflow: hidden; }
    .page-content .container .left-col #models-checkboxes span {
      height: 13px;
      width: 13px;
      border: 1px solid #333333;
      display: inline-block;
      background-color: #f9f9ff;
      margin-right: 2px; }
    .page-content .container .left-col #models-checkboxes [type=checkbox]:checked + span {
      background-image: url("../img/checkbox-square-checked-512.png");
      background-size: cover; }
  .page-content .container .main-col {
    float: left;
    width: calc(100% - 255px);
    margin-top: 10px; }
    .page-content .container .main-col article {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      background: #fff;
      margin-bottom: 25px; }
      .page-content .container .main-col article .offer-image-wrapper {
        min-width: 270px;
        width: 270px;
        height: 195px;
        line-height: 195px;
        position: relative;
        background: -moz-linear-gradient(top, rgba(131, 131, 131, 0.65) 0%, rgba(131, 131, 131, 0.34) 47%, rgba(2, 2, 2, 0) 99%, transparent 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(131, 131, 131, 0.65) 0%, rgba(131, 131, 131, 0.34) 47%, rgba(2, 2, 2, 0) 99%, transparent 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(131, 131, 131, 0.65) 0%, rgba(131, 131, 131, 0.34) 47%, rgba(2, 2, 2, 0) 99%, transparent 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6838383', endColorstr='#00000000', GradientType=0);
        /* IE6-9 */ }
        .page-content .container .main-col article .offer-image-wrapper img {
          max-width: 100%;
          max-height: 100%;
          vertical-align: middle; }
        .page-content .container .main-col article .offer-image-wrapper .car-model h5 {
          position: absolute;
          top: 22px;
          left: 28px;
          margin: 0;
          color: #f9f9ff;
          font-weight: 400;
          line-height: normal; }
          .page-content .container .main-col article .offer-image-wrapper .car-model h5 strong {
            font-weight: bold; }
        .page-content .container .main-col article .offer-image-wrapper .car-model .new-used {
          line-height: normal;
          position: absolute;
          top: 20px;
          left: 17px;
          margin: 0;
          height: 45px;
          text-align: center;
          padding-top: 23px;
          width: 67px;
          color: #f9f9ff;
          background: url("../img/new-used.png") no-repeat center center;
          background-size: cover;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
      .page-content .container .main-col article .offer-main-info {
        padding: 0 25px; }
        .page-content .container .main-col article .offer-main-info h6 {
          font-weight: 400;
          margin: 0;
          padding: 20px 0 20px;
          text-transform: uppercase;
          font-size: 19px;
          color: #5c5c5c;
          max-height: 84px;
          overflow: hidden; }
          .page-content .container .main-col article .offer-main-info h6 strong {
            font-weight: 700; }
        .page-content .container .main-col article .offer-main-info .info-table .row .left {
          width: 120px;
          float: left; }
        .page-content .container .main-col article .offer-main-info .info-table .row .right {
          float: left; }
        .page-content .container .main-col article .offer-main-info .info-table .row p {
          font-family: "Source Sans Pro";
          font-weight: 400;
          color: #5c5c5c;
          margin: 3px 0 2px; }
        .page-content .container .main-col article .offer-main-info .info-table .row:after {
          content: ' ';
          display: table;
          clear: both; }
      .page-content .container .main-col article .price-wrapper {
        min-width: 215px;
        height: 100%; }
        .page-content .container .main-col article .price-wrapper > div {
          height: 45px;
          padding: 0 15px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          .page-content .container .main-col article .price-wrapper > div > p {
            float: right;
            text-align: right;
            margin: 0;
            font-size: 21px;
            line-height: 45px;
            font-weight: 700;
            text-transform: uppercase;
            color: #67696c; }
            .page-content .container .main-col article .price-wrapper > div > p .price-currency {
              font-size: 10px;
              position: relative;
              line-height: normal;
              vertical-align: top;
              top: 15px; }
          .page-content .container .main-col article .price-wrapper > div:after {
            content: ' ';
            display: table;
            clear: both; }
        .page-content .container .main-col article .price-wrapper .base-price {
          background-color: #ededed; }
        .page-content .container .main-col article .price-wrapper .discount-price {
          background-color: #ededed; }
        .page-content .container .main-col article .price-wrapper .hot-price {
          height: 60px;
          background-color: #e2dddd; }
          .page-content .container .main-col article .price-wrapper .hot-price .price-name {
            color: #e02f2f;
            line-height: 60px; }
          .page-content .container .main-col article .price-wrapper .hot-price > p {
            color: #e02f2f;
            line-height: 60px; }
        .page-content .container .main-col article .price-wrapper .ask-wrapper {
          text-transform: uppercase;
          text-align: center;
          background-color: #e02f2f;
          line-height: 45px;
          padding: 0; }
          .page-content .container .main-col article .price-wrapper .ask-wrapper a {
            display: block;
            height: 100%;
            width: 100%;
            color: #f9f9ff;
            text-decoration: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
        .page-content .container .main-col article .price-wrapper .price-name {
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          color: #67696c;
          max-width: 95px;
          float: left;
          line-height: 45px; }
      .page-content .container .main-col article.status-sold {
        position: relative;
        background: #ebebeb;
        overflow: hidden; }
        .page-content .container .main-col article.status-sold .price-wrapper .ask-wrapper {
          border-top: 1px solid #d1cdcd;
          background-color: #e2dddd; }
        .page-content .container .main-col article.status-sold:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.4;
          background-image: -webkit-linear-gradient(-45deg, #cccccc 25%, transparent 25%, transparent 50%, #cccccc 50%, #cccccc 75%, transparent 75%, transparent);
          background-image: -o-linear-gradient(-45deg, #cccccc 25%, transparent 25%, transparent 50%, #cccccc 50%, #cccccc 75%, transparent 75%, transparent);
          background-image: linear-gradient(-45deg, #cccccc 25%, transparent 25%, transparent 50%, #cccccc 50%, #cccccc 75%, transparent 75%, transparent);
          background-size: 64px 64px; }
        .page-content .container .main-col article.status-sold:after {
          z-index: 2;
          text-align: center;
          font-size: 120px;
          color: rgba(151, 151, 151, 0.6);
          content: 'SPRZEDANY';
          display: block;
          position: absolute;
          top: 48%;
          left: 0;
          right: -3%;
          width: 100%;
          -webkit-transform: rotate(-10deg) translateY(-50%);
          -moz-transform: rotate(-10deg) translateY(-50%);
          -ms-transform: rotate(-10deg) translateY(-50%);
          -o-transform: rotate(-10deg) translateY(-50%);
          transform: rotate(-10deg) translateY(-50%); }
  .page-content .container:after {
    content: ' ';
    display: table;
    clear: both; }

@media screen and (max-width: 1110px) {
  .page-content {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .page-content .container .main-col article {
      flex-wrap: wrap; }
      .page-content .container .main-col article .offer-image-wrapper {
        width: 50%; }
      .page-content .container .main-col article .offer-main-info {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      .page-content .container .main-col article .price-wrapper {
        width: 100%; } }
@media screen and (max-width: 850px) {
  .page-content {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .page-content .container .left-col {
      width: 100%; }
      .page-content .container .left-col #models-checkboxes {
        display: flex;
        justify-content: space-between;
        padding: 15px 0; }
    .page-content .container .main-col {
      width: 100%; }
      .page-content .container .main-col article {
        flex-wrap: wrap; }
        .page-content .container .main-col article .offer-image-wrapper {
          width: 100%;
          text-align: center; }
        .page-content .container .main-col article .offer-main-info {
          width: 100%;
          padding: 0 15px 15px; }
          .page-content .container .main-col article .offer-main-info .info-table .row .right {
            float: right; }
        .page-content .container .main-col article .price-wrapper {
          width: 100%; }
        .page-content .container .main-col article.status-sold:after {
          font-size: 19vw; } }

/*# sourceMappingURL=style.css.map */
